rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth.uid != null
  }

  function isUserAuthenticated(uid) {
    return request.auth.uid == uid
  }

  function isAcceptUpdateUser() {
    return request.resource.data.userID == resource.data.userID
      && request.resource.data.enabled == resource.data.enabled 
      && request.resource.data.isAccepted == resource.data.isAccepted
  }

  function isAcceptCreateMessage() {
    // return request.resource.data.writerUID == request.auth.uid || request.resource.data.writerUID == 'admin'
    return request.resource.data.text is string
      && request.resource.data.text.size() >= 1
  }

  match /databases/{database}/documents {
    match /users/{uid} {
      allow update: if isUserAuthenticated(uid) && isAcceptUpdateUser();
      allow read: if isAuthenticated();

      match /options/secure {
        allow read, write: if isUserAuthenticated(uid);
      }
    }

    match /parties/{partyID} {
      allow read: if isAuthenticated();

      // for DEMO
      match /events/{eventsID} {
        allow read, write: if isAuthenticated();
      }

      match /messages/{messageID} {
        allow read: if isAuthenticated();
        allow write: if isAuthenticated() && isAcceptCreateMessage();
      }

      match /groups/{groupID} {
        allow read, write: if isAuthenticated();
        
        match /{document=**} {
          allow read: if isAuthenticated();
        }
        match /members/{memberID}{
          allow write: if isAuthenticated();
        }
      }
    }
  }
}
