rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth.uid != null
  }

  function isUserAuthenticated(uid) {
    return request.auth.uid == uid
  }

  function isAcceptUpdateUser() {
    return request.resource.data.userID == resource.data.userID
      && request.resource.data.enabled == resource.data.enabled 
      && request.resource.data.isAccepted == resource.data.isAccepted
  }

  match /databases/{database}/documents {
    match /users/{uid} {
      allow update: if isUserAuthenticated(uid) && isAcceptUpdateUser();
      allow read: if isAuthenticated();

      match /options/secure {
        allow read, write: if isUserAuthenticated(uid);
      }
    }

    match /parties/{partyID} {
      allow read: if isAuthenticated();

      match /{document=**} {
        allow read, write: if isAuthenticated();
      }
    }
  }
}
