service firebase.storage {
   function isAuthenticated() {
    return request.auth.uid != null
  }

  function isUserAuthenticated(userID) {
    return request.auth.uid == userID
  }

  match /b/{bucket}/o {
    match /users/{userID} {
      match /{userThumnailPath} {
        allow read: if isAuthenticated();
        allow write: if isUserAuthenticated(userID);
      }

      match /secure/{secureImagePath} {
        allow read, write: if isUserAuthenticated(userID);
      }
    }
  }
}
