service firebase.storage {
   function isAuthenticated() {
    return request.auth.uid != null
  }

  function isUserAuthenticated(uid) {
    return request.auth.uid == uid
  }

  match /b/{bucket}/o {
    match /users/{uid} {
      match /{userThumnailPath} {
        allow read: if isAuthenticated();
        allow write: if isUserAuthenticated(uid);
      }

      match /secure/{secureImagePath} {
        allow read, write: if isUserAuthenticated(uid);
      }
    }
  }
}
