service firebase.storage {
  function isUserAuthenticated(userID) {
    return request.auth.uid === userID
  }

  match /b/{bucket}/o {
    match /users/{userID}/{allPaths=**} {
      allow read, write: if isUserAuthenticated(userID);
    }
  }
}
